<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" (click)="snav.toggle()" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>CSV</span>
  <span class="example-spacer"></span>
  <a [matMenuTriggerFor]="menu">
    <div mat-card-avatar class="example-header-image"></div>
  </a>



  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Perfil</span>
    </button>

    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Desativar Alertas</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Sair</span>
    </button>
  </mat-menu>


</mat-toolbar>


<mat-sidenav-container class="example-sidenav-container" >
  <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
    fixedTopGap="56">
    <mat-nav-list>
      <ul class="sidebar">
        <li><a href="">Inicio</a></li>
        <li><a href="">Inicio</a></li>

        <li><a href="">Inicio</a></li>

        <li><a href="">Inicio</a></li>

        <li><a href="">Inicio</a></li>

        <li><a href="">Inicio</a></li>

        <li><a href="">Inicio</a></li>

        <li><a href="">Inicio</a></li>

      </ul>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <div>
      <mat-card style="margin: 20px;">
        <mat-card-title>Transformar CSV</mat-card-title>
        <mat-card-subtitle>Começe agora</mat-card-subtitle>
        <mat-card-content>
          <input type="file" (change)="inputFIleChange($event)">

        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary">Gerar Arquivo</button>
        </mat-card-actions>
       

      </mat-card>
    </div>

    <div class="row" *ngIf="obj">
      <div class="col-md-3" >
        <mat-card style="margin: 20px;" >
          <mat-card-title>Formato JSON</mat-card-title>
          <mat-card-subtitle>Analise todos os campos</mat-card-subtitle>
          <mat-card-content>
            {{obj}}
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="primary"></button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>